/*#caja{
    background-color: blue;
    width: 200px;
    height: 200px;
} */

.caja{
    width: 150px;
    height: 150px;
    background-color: aqua;
    transition: 0.3s;
}

.activa{
    background-color: black;
    transform: scale(1.1);
}